.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header and Navigation */
.header {
    background-color: #004aad;
    padding: 20px 0;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    float: left;
    font-size: 1.8em;
    font-weight: bold;
}

.navbar {
    float: right;
    margin-top:22px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
.navbar .active{
    background-color: #ffa500;
    border-radius: 5px;

}
.navbar .active:hover{
    background-color: #e69500;
    color:white;
}
.navbar .btn-login:hover{
    background-color: rgb(211, 32, 32);
    color: white;
}

.navbar a:hover {
    background-color: white;
    color: #0055a5;
    border-radius: 5px;
}
.footer {
    background-color: #0055a5;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
    font-size: 0.9em;
}