body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.pin-container {
    width: 100%;
    max-width: 400px; /* Set a maximum width */
}

.form-container {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 140px;
}

h2 {
    color: #050505;
    margin-bottom: 1.5em;
}

.form-group {
    margin-bottom: 1.5em;
    text-align: left; /* Align labels to the left */
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Added transform for scaling */
    width: 100%;
}

.submit-button:hover {
    background-color: #218838; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.submit-button:active {
    transform: scale(0.95); /* Slightly shrink when clicked */
}
